@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:900|Fira+Sans:400,500');
@import url('https://use.fontawesome.com/releases/v5.1.0/css/all.css');

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.adm-detail-content-wrap {
    font-family: 'Fira Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 2px;
    border-radius: 0 0 5px 5px;
}

.adm-detail-content {
    padding: 21px 18px 0 17px;
}

.adm-detail-content-item-block {
    background-color: #fff;
    border: 0;
    padding: 0 0 25px;
}

.adm-detail-content-btns-wrap {
    display: none;
}

.adm-detail-title {
    position: relative;
    display: inline-block;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    padding: 11px 20px 8px;
    border-radius: 80px;
    background-color: #f0f0f0;
    color: #686868;
}

.paragraphs {
    position: relative;
    padding: 24px 0 15px 25px;
    margin-left: 26px;
    border: none;
    border-left: 1px dashed;
}

.paragraph {
    position: relative;
    display: block;
    margin-bottom: 24px;
}

.paragraphs:after,
.paragraph:before {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    clear: both;
    background-color: #d7d7d7;
    width: 9px;
    height: 9px;
    border-radius: 50%;
}

.paragraphs:after {
    bottom: -7px;
    left: -5px;
}

.paragraph:before {
    top: 12px;
    left: -30px;
}

.paragraph:last-child {
    margin-bottom: 0;
}

.meta {
    position: relative;
    display: block;
}

.meta:before {
    position: absolute;
    content: '';
    display: block;
    clear: both;
    border: none;
    border-top: 1px dashed;
    width: 25px;
    height: 1px;
    top: 16px;
    left: -25px;
}

.paragraphs,
.meta:before {
    border-color: #dbdbdb;
}

.meta li {
    display: inline-block;
    padding: 6px 13px 7px;
    border-radius: 80px;
    margin-right: 10px;
    margin-bottom: 10px;
    color: #fff;
    background-color: #eee;
}

.meta li a {
    color: #fff;
}

.meta li:last-child {
    margin-right: 0;
}

.main .paragraph:before,
.main .meta li:first-child {
    background-color: #5da702;
}

.monitor .paragraph:before,
.monitor .meta li:first-child {
    background-color: #3f3cb2;
}

.meta .version {
    background-color: #3f77bf;
}

.meta .version-date {
    background-color: #ee830b;
}

.meta .marketplace {
    background-color: #db332d;
}

.meta .vendor {
    background-color: #3f3cb2;
}

.description {
    line-height: 22px;
    margin: 20px 0 30px;
}

section {
    display: table;
    margin: 20px 0;
    padding: 18px 20px;
    border-radius: 12px;
    background-color: #f7f7f7;
}

section:last-child {
    margin-bottom: 0;
}

section .row {
    display: table-row;
}

section .cell {
    display: table-cell;
    padding: 9px 30px;
    border-bottom: 1px solid #f0f0f0;
}

section .row:first-child .cell {
    padding-top: 0;
}

section .row:last-child .cell {
    padding-bottom: 0;
    border-bottom: none;
}

section .cell:first-child {
    padding-left: 0;
}

section .cell:last-child {
    padding-right: 0;
}

section .header {
    color: #686868;
    margin-bottom: 16px;
    font-weight: 500;
}

section .body {
    background-color: #fff;
    padding: 15px 18px;
    border-radius: 10px;
}

section i {
    margin-right: 7px;
}

.table-two-column {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 35px;
}

.table-two-column section {
    margin-bottom: 0;
}