.h2o_favorites_table {
  border-collapse: collapse;
  border: 1px solid;
}
.h2o_favorites_table th, .h2o_favorites_table td {
  border: 1px solid;
  padding: 5px;
}
.h2o_favorites_table td:empty {
  background: #ccc;
}
.h2o_favorites_table tr:nth-child(2n+1){
   background:white;
}

.h2o_favorites_table tr:nth-child(2n){
   background:#ebf4f8;
}
.h2o_favorites_table th {
  background: #f5f8ec;
}
